:root {
    --main-color: rgb(122, 0, 75);
    --text-bg-color: rgb(235, 225, 225);
    --page-bg-color: rgb(200, 190, 190);
    --highlight-text: rgb(133, 143, 247);
    --highlight-link: hotpink;
}

body {
    font-family: 'Ubuntu', 'Corbel', sans-serif;
    font-weight: 400;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    color: var(--main-color);
    background-color: var(--page-bg-color);
    max-width: 550px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

nav {
    background: var(--main-color);
    border-radius: 5px;
    text-align: right;
    padding: 1rem;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 3px rgb(100, 0, 60);
}

blockquote {
    text-align: center;
    color: rgb(122, 0, 75);
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    display: grid;
}

.centerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.navbar {
    display: grid;
    color: rgb(122, 0, 75);
}

button {
    border-style: solid;
    border-color: --text-bg-color;
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: var(--main-color);
    color: --text-bg-color;
    font-weight: 500;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

button:hover {
    border-style: solid;
    border-color: var(--highlight-link);
    border-radius: 3px;
    color: var(--highlight-link);
}

section {
    margin-top: 2px;
    margin-bottom: 20px;
    background-color: --text-bg-color;
    clear: both;
    padding: 20px;
    border-radius: 5px;
    gap: 1rem;
    box-shadow: 1px 1px 3px rgb(122, 0, 75);
    overflow: hidden;
}

a:link {
    color: hotpink;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: hotpink;
    text-decoration: none;
    font-weight: bold;
}

mark {
    color: rgb(133, 143, 247);
    background: none;
    font-weight: bold;
}

.block{
    float: left;
    list-style: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(200, 190, 190);
    height: auto;
    width: 5rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    color: rgb(122, 0, 75);
}
