:root {
    --main-color: rgb(122, 0, 75);
    --text-bg-color-light: rgb(240, 235, 235);
    --text-bg-color: rgb(235, 225, 225);
    --page-bg-color: rgb(200, 190, 190);
    --highlight-text: rgb(133, 143, 247);
    --highlight-link: hotpink;
}

body {
    font-family: 'Ubuntu', 'Corbel', sans-serif;
    font-weight: 400;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    color: var(--main-color);
    background-color: var(--page-bg-color);
    max-width: 550px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
}

nav {
    background: var(--main-color);
    border-radius: 5px;
    text-align: right;
    padding: 1rem;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 3px rgb(100, 0, 60);
}


blockquote {
    text-align: center;
    color: var(--main-color);
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    display: grid;
}

.centerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

section {
    margin-top: 2px;
    margin-bottom: 10px;
    background-color: var(--text-bg-color);
    clear: both;
    padding: 1.5rem;
    border-radius: 5px;
    gap: 1rem;
    box-shadow: 1px 1px 3px var(--main-color);
    overflow: hidden;
}

a:link {

}

a:visited {
    color: hotpink;
    text-decoration: none;
    font-weight: bold;
}

.regular-link {
    color: hotpink;
    text-decoration: none;
    font-weight: bold; 
}

.nav-link {
    color: var(--text-bg-color);
    border-style: solid;
    border-color: var(--text-bg-color);
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: var(--main-color);
    font-weight: 500;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.nav-link:visited {
    border-color: var(--text-bg-color);
    color: var(--text-bg-color);
}

.nav-link:hover {
    border-style: solid;
    border-color: var(--highlight-link);
    border-radius: 3px;
    color: var(--highlight-link);
}

mark {
    color: var(--highlight-text);
    background: none;
    font-weight: bold;
}

.flex-container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    margin: 0px;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;

}

.flex-item {
    background-color: var(--text-bg-color-light);
    float: left;
    list-style: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: var(--page-bg-color);
    width: 22%;
    min-height: 6rem; 
    text-align: center;
    align-content: center;
    padding: 1rem;
    margin: 0.5vw;
}

details {
    background-color: var(--text-bg-color-light);
    cursor: pointer;
    padding: 1rem;
    width: auto;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

details:hover{
    color: var(--highlight-link);
}